/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html,
body {
  padding-bottom: 40px;
  background-color: white;
  color: black;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  width:100%;
  height: 860px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

  /* Bump up size of carousel content */
.carousel-caption h1 {
  font-size: 60px;
  line-height: 1.4;
  padding-bottom:290px;
}

.signup_buttons {
  margin-bottom: 250px;
  padding-top: 0px;
}

.carousel-signup {
  position: fixed;
  }
  
.signup_buttons a {
font-color:white;
}

.carousel .item {
  height: 500px;
  background-color: #000;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0) 0%), color-stop(rgba(0, 0, 0, .000) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .000) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0000) 0%), color-stop(rgba(0, 0, 0, .0) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .000) 0%, rgba(0, 0, 0, .0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-caption-photo-options {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}



/*! For Ipad Mini Non-Retina */
@media only screen and (height: 768px) and (width: 1024px){
    .signup_buttons {
      position: fixed;
      margin-left: 150px;
      margin-top: 120px;
      padding-top: 0px;

    }

  .carousel-signup {
      position: fixed;
    }

    .carousel-caption-welcome-text h1 {
      font-size: 30px;
      line-height: 1.4;
      text-shadow: 4px 4px #000000;
      padding-bottom:160px;
    }

    .btn-lg {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }

    .carousel-caption-photo-options p{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    .carousel-caption-photo-options {
      position: absolute;
      right: 15%;
      top: 600px;
      left: 15%;
      bottom: 0px;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .carousel-caption-welcome-text {
      position: absolute;
      right: 15%;
      top: 300px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }
}

/*! For Ipad Mini Retina Display*/
@media only screen and (height: 1536px) and (width: 2048px){
    .signup_buttons {
      position: fixed;
      top: 550px;
      padding-top: 0px;
    }

  .carousel-signup {
      position: fixed;
    }
    .carousel-caption-welcome-text h1 {
      font-size: 30px;
      line-height: 1.4;
      text-shadow: 4px 4px #000000;
      padding-bottom:160px;
    }

    .btn-lg {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }

    .carousel-caption-photo-options p{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    .carousel-caption-photo-options {
      position: absolute;
      right: 15%;
      top: 600px;
      left: 15%;
      bottom: 0px;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .carousel-caption-welcome-text {
      position: absolute;
      right: 15%;
      top: 300px;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }
}

/*! For Iphone 3 and 3Gs Display*/
@media only screen and (height: 480px) and (width: 320px){

    .carousel {
      width:100%;
      height: 100%;
      margin-bottom: 0px;
    }  

    .carousel .item {
      width: 100%;
      background-color: #fff;
    }

    .signup_buttons {
      position: fixed;
      left: 0px;
      top: 340px;
      padding-top: 0px;    
    }

    .btn-lg {
      padding: 1px 5px;
      margin-top: 2px;
      font-size: 12px;
      line-height: .5;
      border-radius: 3px;
    }

    .carousel-caption-photo-options p{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    .carousel-caption-photo-options {
      position: absolute;
      right: 15%;
      top: 120px;
      left: 15%;
      bottom: 0px;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .carousel-caption-welcome-text {
      position: absolute;
      top: 225px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .carousel-caption-welcome-text h1 {
      font-size: 20px;
      color: black;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
    }
}


/*! For Iphone 5, 5c and 5s Display*/
/*!@media only screen and (height: 1136px) and (width: 640px){*/
@media only screen and (height: 568px) and (width: 320px){

    .carousel {
      width:100%;
      height: 350px;
      margin-bottom: 0px;
    }  

    .carousel .item {
      width: 100%;
      background-color: #fff;
    }

    .signup_buttons {
      position: fixed;
      left: 0px;
      top: 340px;
      padding-top: 0px;
      margin-bottom: 10px; 
    }

    .btn-lg {
      padding: 1px 5px;
      margin-top: 2px;
      font-size: 12px;
      line-height: .5;
      border-radius: 3px;
    }

    .carousel-caption-photo-options p{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    .carousel-caption-photo-options {
      position: absolute;
      right: 15%;
      top: 120px;
      left: 15%;
      bottom: 0px;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .carousel-caption-welcome-text {
      position: absolute;
      top: 225px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;    }

    .carousel-caption-welcome-text h1 {
      font-size: 20px;
      color: black;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
    }
}

/*! For Samsung Note 3 Display*/
@media only screen and (height: 960px) and (width: 540px){

    .carousel {
      width:100%;
      height: 350px;
      margin-bottom: 150px;
    }  

    .carousel .item {
      width: 100%;
      background-color: #fff;
    }

    .signup_buttons {
      position: fixed;
      left: 0px;
      top: 480px;
      padding-top: 0px;
      margin-bottom: 10px; 
      margin-left: 65px;
      text-align: center;
    }

    .btn-lg {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }

    .carousel-caption-photo-options p{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    .carousel-caption-photo-options {
      position: absolute;
      right: 15%;
      top: 270px;
      left: 15%;
      bottom: 0px;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }

    .carousel-caption-welcome-text {
      position: absolute;
      top: 400px;
      padding: 0px 0px 0px 0px;
      margin: 0px 20px 0px 0px;
      text-align: center;
    }

    .carousel-caption-welcome-text h1 {
      font-size: 20px;
      color: black;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
    }
}
/* Declare heights because of positioning of img element */
@media only screen and (min-width: 768px) {
.carousel .item {
  height: 860px;
  background-color: #fff;
}
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-weight: normal;
  color:black;
}

p {
  font-weight: normal;
  color:black;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 10px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.4;
  }
  
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*Sign in starts*/

.form-signin {
  max-width: 300px;
  padding: 0px 0px;
  margin:1px 10px;
  margin-bottom: 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form_signin_container{
    min-width:300px;
}

.dropdown_container {
  position:fixed;
  right:-300px;
  top:0px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

fieldset#form_body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

.signin_page {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    height: 100%;
    height: auto !important;
    min-height:100%;
    background:url('../img/img_8.jpg') #A98436 no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: 100% 100%;
}

#explore_button {
  margin-bottom: 600px;
  margin-right: -900px;
  padding-top: 0px;
  position:absolute;
  display:none;
  height:100px;
  width:100px;
  background-color:#eee;
  border:1px solid black;
  border-radius:15px;
  text-align:center;
}

[draggable=true] {
    cursor: move;
}

.btn-circle {
  position: fixed;
  width: 100px;
  height: 100px;
  line-height: 80px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 100%;
}

#dragme{
  position:absolute;
  display:none;
  height:0px; 
  width:0px;
  background-color:#eee;
  border:1px solid black;
  border-radius:15px;
  text-align:center;
}

.form-upload {
  max-width: 400px;
  padding: 50px;
  margin: auto auto;
  margin-bottom: 20px;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: blue;
    background-color: transparent;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: blue;
  background-color: #transparent;
}
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}

.dropdown-menu > li > a {
  padding: 3px 20px;
  font-weight: normal;
  color: black;
  white-space: nowrap;
  text-align:left;
  text-shadow: 0px;
}

.navbar-default {
  background-color: black;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: yellow;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: yellow;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: yellow;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: yellow;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: yellow;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: yellow;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: yellow;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: yellow;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: yellow;
}
.navbar-default .navbar-link:hover {
  color: yellow;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container h1 {
  color:black;
}

.panel-body {
  
}
.panel .btn i,.btn span{
 color:#000066;
}
.panel .panel-heading {
 background-color:#ffffff;
 font-weight:700;
 font-size:16px;
 color:#262626;
 border-color:#ffffff;
}
.panel .panel-heading a {
 font-weight:400;
 font-size:11px;
}
.panel .panel-default {
 border-color:#cccccc;
}
.panel .panel-thumbnail {
 padding:0;
}
.panel .img-circle {
 width:50px;
 height:50px;
}

footer a {
  color: black;
}

.message{
    display:none;
    color:#fff;
    background:green;
    position:absolute;
    top:10px;
    padding:4px 4px 4px 4px;
    border-radius: 5px;
    opacity: 0.8;
    margin-bottom: 0px;
}

.photographer_options:hover + .message{
    display:block;
    z-index:10;
}

.horizontal-line{
    height:2px;
    border-width:0;
    background-color:blue;
}