html,
body {
  background-color: #333;
  background: url(/images/Brooklyn_Bridge.jpg) no-repeat center center fixed;
  width: 100%;
  background-size: 100% 100%;
}
body {
  color: #fff;
  text-align: center;
}
body {
  padding-top: 60px;
}

body a {
  color: #fff;
}

h2 {
  color: white;
}
.form-signup {
  padding: 0px 0px;
  margin-top:100px;
}

.vertical-line{
    border-left: 1px solid #808080;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    width: 1px;
    float: left;
    position: absolute;
}

.form-signin {
  max-width: 300px;
  padding: 0px 0px;
  margin:1px 10px;
  margin-bottom: 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form_signin_container{
  min-width:300px;
}