html,
body {
  background-color: #333;
  background: url(/images/Brooklyn_Bridge.jpg) no-repeat center center fixed;
  width: 100%;
  background-size: 100% 100%;
}
body {
  color: #fff;
  text-align: center;
}
body {
  padding-top: 60px;
}

body a {
  color: #fff;
}

.form-signup {
  padding: 0px 0px;
  margin-top:100px;
}

.vertical-line{
    border-left: 1px solid #808080;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    width: 1px;
    float: left;
    position: absolute;
}