{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%block title%}
  {%if me%}
    {{me.name}} | Groups | WPC
  {%else%}
    Groups | WPC
  {%endif%}
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">

{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}
    <h1> WPC<em>groups</em>  {%if not me%}<a href="/signin"><button class="btn btn-xs btn-danger" type="button"><i class="fa fa-register" style="color:white;"></i>  Register with WPC</button></a>{%endif%}</h1>

    {%block signup_links%}  
    {%endblock%}  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1><img src="/images/Overload.jpg" alt="Profile Image" class="img-rounded" width="100px">  Overloaded INDIA!!</h1>
              <p>In the chaotic heart of downtown Brooklyn, a door greets you with an illustration of a man in a pink tutu and leopard print leggings tossing up a peace sign. Welcome to Space-Made—the art lab where Cameron Russell and her collaborators create Interrupt, a magazine that lets marginalized communities tell their own stories...</p>
              <p><a class="btn btn-sm btn-success" href="#" role="button">Read Blog</a></p>
              <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5></a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1><img src="/images/Artists_2.jpg" alt="Profile Image" class="img-rounded" width="100px">  How to take good Music Photographs</h1>
              <p>In the chaotic heart of downtown Brooklyn, a door greets you with an illustration of a man in a pink tutu and leopard print leggings tossing up a peace sign. Welcome to Space-Made—the art lab where Cameron Russell and her collaborators create Interrupt, a magazine that lets marginalized communities tell their own stories...</p>
              <p><a class="btn btn-sm btn-success" href="#" role="button">Read Blog</a></p>
              <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5></a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1><img src="/images/AnuragMathur-2.jpg" alt="Profile Image" class="img-rounded" width="100px">  New York, New York</h1>
              <p>In the chaotic heart of downtown Brooklyn, a door greets you with an illustration of a man in a pink tutu and leopard print leggings tossing up a peace sign. Welcome to Space-Made—the art lab where Cameron Russell and her collaborators create Interrupt, a magazine that lets marginalized communities tell their own stories...</p>
              <p><a class="btn btn-sm btn-success" href="#" role="button">Read Blog</a></p>
              <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5></a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2></h2>
                    <p class="lead">Place for Ads <br><a target="_blank" href="http://www.worldphotographersclub.com/">worldphotographersclub</a></p>
                </div>
            </div>
        </div>
    </div>

    <h1> Trending Groups </h1>
    <hr class="horizontal-line">
    {%if me%}
    <h4>Filter By :</h4><a href=""> Trendiest </a>|<a href="">  Newest  </a>|<a href="">  Oldest  </a>|<a href="">  Highest Rating  </a>|<a href="">  <em>My Groups</em> </a>
    {%else%}
    <h4>Filter By :</h4><a href=""> Trendiest </a>|<a href="">  Newest  </a>|<a href="">  Oldest  </a>|<a href="">  Highest Rating  </a>
    {%endif%}
  	<div class="col-md-12">
  		<div class="col-md-4 col-sm-4">
  			<a href=""><h3>Ad</h3>
  			<img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
        <hr class="horizontal-line">
  		</div>
  		<div class="col-md-4 col-sm-4">
  			<a href=""><h3>Ad</h3>
  			<img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
        <hr class="horizontal-line">
  		</div>
  		<div class="col-md-4 col-sm-4">
  			<a href=""><h3>Ad</h3>
  			<img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
        <hr class="horizontal-line">
  		</div>
  	</div>
{%endblock%}