{%extends "index.html"%}

{%block title%}
Home | WPC
{%endblock%}
{%block homepage_links%}
{%endblock%}

{%block userNavLinks%}
	<ul class="nav navbar-nav navbar-right" style="text-align:left;">
		<li><a class="" href="/{{me.key.id()}}" style="color:yellow;font-size:20px;" ><em>{{me.name}}</em></a></li>
		<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
		<li><a href="/{{me.key.id()}}/photos"><span class="glyphicon glyphicon-picture"></span></a></li>
		  <li>
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span><b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a href="/newphoto"><span class="glyphicon glyphicon-camera"></span> Photos</a></li>
				  <li><a href="/newblog"><span class="glyphicon glyphicon-pencil"></span> Blog Post</a></li>
				  <li><a href="/newgroup"><i class="fa fa-group"></i> Group</a></li>
				  <li><a href="/forum"><span class="glyphicon glyphicon-bell"></span> A Question</a></li>
			  </ul>
		  </li>
		  <li>
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a href="/usersettings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
				  <li><a href="" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-phone"></i> Invite Friends</a></li>
				  <li><a href="#my_portfolios"><span class="glyphicon glyphicon-heart-empty"></span> My Ideabook</a></li>
				  <li class="divider"></li>
				  <li><a href="/logout"><span class="glyphicon glyphicon-send"></span> Sign Out</a></li>
			  </ul>
		  </li>
		  <li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span><b class="caret"></b><span class="badge pull-right">42</span></a>
			  <ul class="dropdown-menu">
				  <li>
					<div class="messages_container">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Photographer added new Photos</p></a>

					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Your photo is used by Photographer in his blog/forum/group XYZ</p></a>
					  
					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Photographer Commented on your photo</p></a>

					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Photographer added new Photos</p></a>

					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Your photo is used by Photographer in his blog/forum/group XYZ</p></a>
					  
					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Photographer Commented on your photo</p></a>
					</div>
				  </li>
			  </ul>
		  </li>
	</ul>
{%endblock%}
{%block signup_links%}  
{%endblock%}
{%block pageContent%}

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Invite Friends to join WPC</h4>
          </div>
          <div class="modal-body">
              <textarea class="textarea_no_border" name="title" cols="130" rows="2" placeholder="Enter Email Addresses seperated by commas" ></textarea><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-primary">Send Invitations</button>  or
            <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-facebook fa-1x"></i></button>
            <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-google-plus fa-1x"></i></button>
          </div>
        </div>
      </div>
    </div>

 <div class="container" id="main">
      <h1>My Feed</h1>

  
  <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="card">
              <div class="panel-thumbnail"><img src="/images/Artist_1.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
              <div class="panel-body">
              <p class="lead">Photographer added new Photos</p>
              <a><h5 style="color:black;">Go to Photographer Photos</h5></a>
          </div>
        </div>
        <hr class="horizontal-line">
        <div class="card">
              <div class="panel-thumbnail"><img src="/images/AnuragMathur.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
              <div class="panel-body">
              <p class="lead">Your photo is used by Photographer in his blog/forum/group XYZ</p>
              <input type="text" class="form-control" placeholder="Add a comment..">
          </div>
        </div>
        <hr class="horizontal-line">
      </div><!--/col-->
      
      <div class="col-sm-3 col-xs-6">
        <div class="card">
              <div class="panel-thumbnail"><img src="/images/Artists_2.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
              <div class="panel-body">
              <p class="lead">Photographer Commented on your photo</p>
              <input type="text" class="form-control" placeholder="Reply..">
              </div>
        </div>
        <hr class="horizontal-line">
        <div class="card">
              <div class="panel-thumbnail"><img src="/images/Brooklyn_Bridge.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
              <div class="panel-body">
              <p class="lead">Photographer has sent you a private message</p>
              <h4><em>Hi ! How are you??</em></h4>
              <input type="text" class="form-control" placeholder="Reply..">
          </div>
        </div>
        <hr class="horizontal-line">
      </div><!--/col-->
      
      <div class="col-sm-3 col-xs-6">
        <div class="card">
              <div class="panel-thumbnail"><img src="/images/DSC_1556.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
              <button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
              <div class="panel-body">
              <p class="lead">Photographer added you to his ideabook</p>
              <input type="text" class="form-control" placeholder="Send a private message..">
          </div>
        </div>
        <hr class="horizontal-line">
      </div><!--/col-->  

      <div class="col-sm-3 col-xs-6">
        <p>Ads</p>
        <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="/images/img_2.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
        </div>

        <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="/images/img_2.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
        </div>

        <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="/images/img_2.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
        </div>
        <hr class="horizontal-line">

        <p>Suggestions</p>
        <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="/images/img_2.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
        </div>

        <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="/images/img_2.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
        </div>

        <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="/images/img_2.jpg" class="img-responsive"></div>
              <p><a href="my_studio.html" style="color:black;"></a></p>
        </div>
        <hr class="horizontal-line">
      </div><!--/col-->  
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-info btn-sm"> Load More</button>
    </div> <br>
  </div>
</div><!--/main-->

{%endblock%}
		
