{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%set user = me%}

{%block title%}
{{me.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">
<link href="/css/newblog.css" rel="stylesheet">
{%endblock%}

{%block carousel%}
{%endblock%}


{%block pageContent%}
  <h1>Write A New Blog</h1>
  <hr class="horizontal-line">
   <script src="/js/ckeditor.js"></script>
   <div class="col-md-10 col-md-offset-1 newblog_text">
		<form action="" method="post">
			<h3>Add Blog Title</h3>
			<textarea name="title" value="{{title}}" cols="80" rows="2"></textarea>
			<textarea class="ckeditor" cols="80" id="editor1" name="content" rows="10">{{content}}</textarea><br>
			<button class="btn btn-xs btn-success" type="submit">Publish Blog</button>
		</form>
	</div>
	<div class="col-md-12">
		<hr>
	</div>
   <div class="col-md-10 col-md-offset-1">
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2></h2>
                    <p class="lead">Place for Ads <br><a target="_blank" href="http://www.worldphotographersclub.com/">worldphotographersclub</a></p>
                </div>
            </div>
        </div>
    </div>
	</div>
{%endblock%}