{%if me%}
    {%extends "index_user.html"%}
{%else%}
    {%extends "index.html"%}
{%endif%}

{%set user = me%}

{%block title%}
{{me.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">
<link href="/css/new_group.css" rel="stylesheet">
{%endblock%}

{%block carousel%}
{%endblock%}


{%block pageContent%}
  <h1>Create A New Group</h1>
  <hr class="horizontal-line">
   <div class="col-md-7 col-md-offset-1 newblog_text">
    <form action="" method="post">
      <input type="hidden" name="actionType" value="create_group">
      <h3>Add Group Title</h3>
      <textarea name="name" cols="80" rows="2" placeholder="Title" ></textarea><br>
      <h3>Add Group Description</h3>
      <textarea class="" cols="80" id="" name="description" rows="5" placeholder="Description of the group"></textarea><br>
      <h3>Add Group's Main Image</h3>
      <span class="btn btn-info btn-sm fileinput-button" data-toggle="modal" data-target="#select_photo">
        <i class="fa fa-hand-o-up"></i>
        <span style="color:white;">Select Photo</span>
      </span>
      <span class="btn btn-info btn-sm fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span style="color:white;">Upload Photo</span>
        <input type="file" id="myFile" name="cover_photo">
      </span>
      <div class="row">
        <div class="container" id="thumb_img1"></div>
      </div>
      <div id="group_cover_image"></div>
      <h3>Invite people to join the group</h3>
      <textarea class="" cols="80" id="" name="description" placeholder="Add WPC User Id or email id of people you'd like to invite, seperated by commas" rows="5"></textarea><br>
      <h3>Add Group's Permissions</h3>
      <label><input type="checkbox" name="remember"> Make this group Private, Only visible to members</label><br>
      <label><input type="checkbox" name="remember"> New members need permission to be added to this group</label><br>
      <label><input type="checkbox" name="remember"> Anybody can comment or post a message groups entities</label><br><br>
      <button class="btn btn-xs btn-success" type="submit">Create Group</button>
    </form>
  </div>
  <div class="col-md-1">
    <div class="vertical-line">&nbsp;</div>
  </div>
  <div class="col-md-3">
    <div class="row">
        <a href=""><h3>Ad</h3>
        <img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
          <hr class="horizontal-line">
      </div>
      <div class="row">
        <a href=""><h3>Ad</h3>
        <img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
          <hr class="horizontal-line">
      </div>
      <div class="row">
        <a href=""><h3>Ad</h3>
        <img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
          <hr class="horizontal-line">
      </div>
  </div>

  <div class="modal fade bs-example-modal-lg" id="select_photo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Select and Add Photo</h4>
        </div>
              <div class="col-lg-12 col-sm-12 col-xs-12" id="photo_select" align="center">
                <div class="thumb_imgs">
                      {%for p in photos%}
                              <a onclick="change_main_image('/servephoto/{{p.blobKey}}');" href="javascript:void(0);"><img src="/servephoto/{{p.blobKey}}" height="100px" alt="photo"></a>
                      {%endfor%}
                </div><br>
                <div id="main_img" class=""></div>
              </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-xs btn-primary close" data-dismiss="modal">Select and Close</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
function change_main_image(img_key) {
    document.getElementById("main_img").innerHTML = "<img alt='' src='"+img_key+"' height='100%' class='img_display'/>";
    document.getElementById("group_cover_image").innerHTML = "<input type='hidden' name='cover_img' value='"+img_key+"'>";
	document.getElementById("thumb_img1").innerHTML = "<div class='col-lg-4'><img class='img-rounded' src='" + img_key + "' height='140px' alt='"+img_key+"'></div>";
} 
</script>
<script type="text/javascript">
function back_to_image_selector() {
    document.getElementById("photo_select").innerHTML = "{%for p in photos%}<div class='col-xs-3'><a onclick='change_main_image('/servephoto/{{p.blobKey}}');' href='javascript:void(0);'><img src='/servephoto/{{p.blobKey}}' height='100px' alt='photo'></a></div>{%endfor%}";
} 
</script>
<script>
function show_popup() {
    cuteLittleWindow = window.open("/popupnewphoto", "littleWindow", "location=no,width=640,height=500");
}
</script>
<script>
function show_popup_photos() {
    cuteLittleWindow = window.open("/{{me.key.id()}}/popupphotos", "littleWindow", "location=no,width=640,height=500");
}
</script>
<script>
window.onload = function(){  
    //Check File API support

  //<label for="files">Select multiple files: </label>
  //<input id="files" type="file" multiple/>
  //<output id="result" />
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("myFile");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //FileList object
            var output = document.getElementById("thumb_img1");
            var num_files = files.length;
            var txt = "";
            var file_name_size = [];
            var file_name = [];
            var total_size = 0;
            for(var i = 0; i< files.length; i++)
            {
              txt = "";
                var file = files[i];
                if ('name' in files[i]) {
                    txt += "" + files[i].name + "<br>";
                }
                if ('size' in files[i]) {
                    //txt += "Size: " + file.size/1000000 + " Mbytes <br>";
                    txt += "Size: " + Math.ceil((files[i].size/1000000) * 100)/100 + " Mbytes <br>";
                }
                //Only pics
                file_name_size.push(txt);
                file_name.push(files[i].name)
                total_size = total_size + Math.ceil((files[i].size/1000000) * 100)/100;
                if(!file.type.match('image'))
                  continue;
                var picReader = new FileReader();
                var w = 0;
                picReader.addEventListener("load",function(event){
                  var picFile = event.target;
                    var div = document.createElement("div");
                    div.innerHTML = "<div class='col-lg-4'><img class='img-rounded' src='" + picFile.result + "' height='140px' alt='"+file_name[w]+"'><h4 style='color:black;'>"+file_name_size[w]+"</h4></div>";
                    w++;
                    output.insertBefore(div,null);            
                });
                 //Read the image
                picReader.readAsDataURL(file);
            }                         
        });
    }
    else
    {
        console.log("Your browser does not support File API");
    }
}
</script>
{%endblock%}

