{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%set user = me%}

{%block title%}
{{me.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">
<link href="/css/new_group.css" rel="stylesheet">
{%endblock%}

{%block carousel%}
{%endblock%}


{%block pageContent%}
  <h1>Create A New Group</h1>
  <hr class="horizontal-line">
   <div class="col-md-7 col-md-offset-1 newblog_text">
		<form action="" method="post">
			<h3>Add Group Title</h3>
			<textarea name="name" cols="80" rows="2" placeholder="Title" ></textarea><br>
			<h3>Add Group Description</h3>
			<textarea class="" cols="80" id="" name="description" rows="5" placeholder="Description of the group"></textarea><br>
			<h3>Add Group's Main Image</h3>
			<span class="btn btn-xs btn-info fileinput-button">
				<i class="glyphicon glyphicon-plus"></i>
				<span>Select Image</span>
				<input type="file" id="myFile1" name="bkg_img_1" onchange="myFunction1()">
			</span>
			<div class="container row" id="thumb_img1"></div>
			<h3>Invite people to join the group</h3>
			<textarea class="" cols="80" id="" name="description" placeholder="Add WPC User Id or email id of people you'd like to invite, seperated by commas" rows="5"></textarea><br>
			<h3>Add Group's Permissions</h3>
			<label><input type="checkbox" name="remember"> Make this group Private, Only visible to members</label><br>
			<label><input type="checkbox" name="remember"> New members need permission to be added to this group</label><br>
			<label><input type="checkbox" name="remember"> Anybody can comment or post a message groups entities</label><br><br>
			<button class="btn btn-xs btn-success" type="submit">Create Group</button>
		</form>
	</div>
	<div class="col-md-1">
	 	<div class="vertical-line">&nbsp;</div>
	</div>
	<div class="col-md-3">
		<div class="row">
  			<a href=""><h3>Ad</h3>
  			<img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
        	<hr class="horizontal-line">
  		</div>
  		<div class="row">
  			<a href=""><h3>Ad</h3>
  			<img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
        	<hr class="horizontal-line">
  		</div>
  		<div class="row">
  			<a href=""><h3>Ad</h3>
  			<img src="/images/img_2.jpg" alt="Profile Image" class="img-rounded" width="300px">
       		<hr class="horizontal-line">
  		</div>
	</div>

        <script>
        function myFunction1(){
            var x = document.getElementById("myFile1");
            var txt = "";
            var temp1 = '';
            var total_size = 0;
            if ('files' in myFile1) {
                if (x.files.length == 0) {
                    txt = "Select one or more files.";
                } else {
                  var num_files = x.files.length;
                    for (var i = 0; i < x.files.length; i++) {
                      txt = "";
                        //txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                        var file = x.files[i];
                        if ('name' in file) {
                            txt += "" + file.name + "<br>";
                        }
                        if ('size' in file) {
                            //txt += "Size: " + file.size/1000000 + " Mbytes <br>";
                            txt += "Size: " + Math.ceil((file.size/1000000) * 100)/100 + " Mbytes <br>";
                        }
                    //document.getElementById("demo").innerHTML = txt;
                    temp1 += "<br><div class='col-lg-4'><img class='img-rounded' src='/images/"+file.name+"' height='100px' alt='"+file.name+"'><h4 style='color:black;'>"+txt+"</h4></div>";
                    total_size = total_size + file.size;
                    }
                    total_size = Math.ceil((total_size/1000000) * 100)/100;
                }
            } 
            else {
                if (x.value == "") {
                    txt += "Select one or more files.";
                } else {
                    txt += "The files property is not supported by your browser!";
                    txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
                }
            }
            document.getElementById("thumb_img1").innerHTML = temp1;
            document.getElementById("num_photos").innerHTML = "Uploaded 0/"+num_files+" Photos, Total Size = "+total_size+"Mbytes";
        }
        </script>
{%endblock%}

