{%extends "user_studio.html"%}

{%block signup_links%}  
 {%endblock%} 
{%block pageContent%}
    <div class="transbox_right_permapage">
            <ul class="list-inline">
                {%if me.website%}
                  <a href="{{me.website}}"><img src="/images/WPC_app_icon.jpg" alt="Profile Image" width="60px"><br><br><br><a>
                {%else%}
                  <img src="/images/WPC_app_icon.jpg" alt="Profile Image" width="60px"><br><br><br>
                {% endif %}
                {%if me.facebook%}
                  <li color="white"><a href="{{me.facebook}}"><i class="fa fa-facebook fa-3x" style="color:black;"></i></a></li><br><br>
                {% endif %}
                {%if me.twitter%}
                  <li color="white"><a href="{{me.twitter}}"><i class="fa fa-twitter fa-3x" style="color:black;"></i></a></li><br><br>
                {% endif %}
                {%if me.youtube%}
                  <li color="white"><a href="{{me.youtube}}"><i class="fa fa-youtube fa-3x" style="color:black;"></i></a></li><br><br>
                {% endif %}
                {%if me.pinterest%}
                  <li color="white"><a href="{{me.pinterest}}"><i class="fa fa-pinterest fa-3x" style="color:black;"></i></a></li><br><br>
                {% endif %}
                {%if me.google_plus%}
                  <li color="white"><a href="{{me.google_plus}}"><i class="fa fa-google-plus fa-3x" style="color:black;"></i></a></li>
                {% endif %}
            </ul>
    </div>
	<div class="photopermpage">
		<img src="/servephoto/{{photo.blobKey}}" height="600px" alt="photo">
    <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{user.name}}<em></h5></a>
	</div>
  {%if me%}
	<div class="row edit_delete_bottons text-center">
    <div class="col-md-4 col-md-offset-5">
		  <div class="col-md-1">
          <form method="post">
            <input type="hidden" name="actionType" value="edit">
            <input type="hidden" name="photoKey" value="{{photo.key.urlsafe()}}">
            <button class="btn btn-success btn-md" type="submit" value="Edit"><span class="glyphicon glyphicon-edit" style="color:white;"></span>  Edit</button>
          </form>
	    </div>
	    <div class="col-md-1 padding">
          <form method="post">
            <input type="hidden" name="actionType" value="delete">
            <input type="hidden" name="photoKey" value="{{photo.key.urlsafe()}}">
            <button class="btn btn-success btn-md" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span>  Delete</button>
          </form>
	    </div>
      <div class="col-md-1">
        <form method="post">
          <input type="hidden" name="actionType" value="delete">
          <button class="btn btn-success" type="submit" value="Delete"><span class="glyphicon glyphicon-share" style="color:white;"></span> Share</button>
        </form>
      </div>
    </div>

	</div>
  {% endif %}
  <hr>
	<div class="thumb_imgs">
	    {%for p in photos%}
	         <a href="/photo/{{p.key.urlsafe()}}"><img src="/servephoto/{{p.blobKey}}" height="100px" alt="photo"></a>
	    {%endfor%}
	</div>
	<hr>
	<h3 style="color:black;">{{photo.caption}}</h3>
  <h4 style="color:black;">{{photo.description}}</h4>
	<script src="/js/holder.js"></script>
	<div class="container marketing">
	    <div class="row ">
	        <div class="col-md-2 col-xs-6 col-md-offset-1 btn_padding_right">
	             <button class="btn btn-lg btn-block btn-success" type="submit" value="Edit"><i class="fa fa-thumbs-up" style="color:white;"></i> Like</button>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-md-2 col-xs-6 btn_padding_right">
	            <button class="btn btn-lg btn-block btn-success" type="submit" value="Edit"><i class="fa fa-comment" style="color:white;"></i> Comment</button>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-md-2 col-xs-6 btn_padding_right">
	            <button class="btn btn-lg btn-block btn-success" type="submit" value="Edit"><i class="fa fa-trophy" style="color:white;"></i> Awards</button>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-md-2 col-xs-6 btn_padding_right">
	            <button class="btn btn-lg btn-block btn-success" type="submit" value="Edit"><i class="fa fa-eye" style="color:white;"></i> Views</button>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-md-2 col-xs-6">
	            <button class="btn btn-lg btn-block btn-success" type="submit" value="Edit"><i class="fa fa-star" style="color:white;"></i> Rating</button>
	        </div><!-- /.col-lg-4 -->
	    </div><!-- /.row -->
	</div>

	<div class="row permapage_container">
		<div class="col-md-6 col-sm-6 permapage_container_inner">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Comments on this Photo</h4></div><hr>
				<div class="panel-body">
					<div class="clearfix"></div>
						
					<hr>
					<input type="text" class="form-control" placeholder="Add a comment..">
				</div>
			</div> 
		</div>
		<div class="col-md-5 col-sm-6 permapage_container_inner">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Associated Tags</h4></div>
				<div class="panel-body">
					{%for tag in photo.tags%}
						<button class="btn btn-warning btn-xs btn_padding">{{tag}}</button>
					{%endfor%}
					<div  class="tag_placement">
				  </div>
					<hr>
				  <div class="input-group">
					<div  class="photo_tags"></div>
					<input type="text" class="form-control" name="add_tag" id="add_tag" placeholder="Add a Tag">
					<div class="input-group-btn">
					  <button type="button" class="btn btn-success" onclick="add_tags()"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
					</div><!-- /btn-group -->
				  </div><!-- /input-group -->
					<hr>
					<div class="panel-heading"><h4>Associated Albums</h4></div>
					{%for album in photo.albums%}
						<button class="btn btn-danger btn-xs btn_padding">{{album}}</button>
					{%endfor%}
					<div  class="album_placement">
				  </div>					
					<hr>
				  <div class="input-group">
					<div  class="photo_albums"></div>
					<input type="text" class="form-control" name="add_album" id="add_album" placeholder="Add Photo to an Album">
					<div class="input-group-btn">
					  <button type="button" class="btn btn-success" onclick="add_albums()"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
					</div><!-- /btn-group -->
				  </div><!-- /input-group -->
				</div>
				<button class="btn btn-xs btn-success" style="margin-bottom:5px;" type="submit">Save Tags & Albums</button>
			</div> 
		</div>
		<div class="col-md-6 col-sm-6 permapage_container_inner">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Photo on a Map</h4></div><hr>
				<div class="panel-body">			
					<div id="contact" class="map"> <!-- Map -->
						<div id="map_canvas" class="map">
						</div>
					</div>
				</div>
			</div> 
		</div>
		<div class="col-md-4 col-sm-6 permapage_container_inner">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Camera Details</h4></div><hr>
				<div class="panel-body">
					<img src="/fonts/Cameras/{{photo.camera}}.png" alt="camera" width="80px"><h4 style="color:black;">{{photo.camera}}<h4>
					<hr>
					<img src="/fonts/Lenses/{{photo.lense}}.png" alt="camera" width="80px"><h4 style="color:black;">{{photo.lense}}<h4>
					<hr>
					<h4>Shutter Speed : {{photo.shutter_speed}}</h4>
					<h4>Aperture : {{photo.aperture}}</h4>
					<h4>ISO : {{photo.iso}}</h4>
				</div>
			</div> 
		</div><!--/articles-->

	</div>


	<footer>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<ul class="list-inline">
				<li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
				</li>
				<li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
				</li>
				<li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
				</li>
				<li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<p class="pull-right back-to-top"><a href="#">Back to top</a></p>
	<p>&copy; 2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
	</footer>
	<script>
	function add_tags() {
		tag = document.getElementById('add_tag').value;
		$( ".tag_placement" ).append( "<button class='btn btn-warning btn-xs btn_padding padding_tags'>"+tag+"</button>" );
		$( ".photo_tags" ).append( "<input type='hidden' name='tags' value='"+tag+"'>" );
	}
	</script>
	<script>
	function add_albums() {
		album = document.getElementById('add_album').value;
		$( ".album_placement" ).append( "<button class='btn btn-danger btn-xs btn_padding padding_tags'>"+album+"</button>" );
		$( ".photo_albums" ).append( "<input type='hidden' name='albums' value='"+album+"'>" );
	}
	</script>
{%endblock%}