{%extends "user_studio.html"%}
{%set user = me%}
{%block title%}
Upload Photos | WPC
{%endblock%}

{%block styleSheets%}
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/my_studio.css">
<link rel="stylesheet" href="/css/font.css">
<link rel="stylesheet" href="/css/upload.css">
{%endblock%}

{%block pageContent%}
			<form id="photoupload" action="{{uploadUrl}}" method="post" enctype="multipart/form-data">
				<div class="column fileupload-buttonbar">
					<div class="row col-sm-4">
						<!-- The fileinput-button span is used to style the file input field as button -->
						<span class="btn btn-info fileinput-button">
							<i class="glyphicon glyphicon-plus"></i>
							<span style="color:white;">Select Files</span>
							<input type="file" id="myFile" name="files" onchange="myFunction()" multiple>
						</span>
						<button type="submit" class="btn btn-success start">
							<i class="glyphicon glyphicon-upload"></i>
							<span style="color:white;">Start upload</span>
						</button>
						<button type="reset" class="btn btn-info cancel">
							<i class="glyphicon glyphicon-ban-circle"></i>
							<span style="color:white;">Cancel upload</span>
						</button>
						<div class="error" style="color:red;">{{submitError}}</div>
						<!-- The global file processing state -->
						<span class="fileupload-process"></span>
					</div>
					<h3 id="num_photos">Uploaded 0/0 Photos</h3>
					<!-- The global progress state -->
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
					    0%
					  </div>
					</div>
				</div>
				<div class="container" id="thumb_img1">
				</div>
				<!--<input type="hidden" id="myCaption" name="captions">
				<input type="hidden" id="myDescription" name="descriptions">
				<input type="hidden" id="myLocation" name="locations"> -->
				<!-- The table listing the files available for upload/download -->
				<table role="presentation" class="table table-striped">
					<tbody class="files">
					</tbody>
				</table>
			</form>
			<h3>Update properties for all photos or update later after uploading is done</h3>
            <form action="" method="post" name="photos_info">
				   <div class="col-lg-4 col-lg-offset-4">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Add New Album">
				      <div class="input-group-btn">
				        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Existing Albums <span class="caret"></span></button>
				        <ul class="dropdown-menu dropdown-menu-right" role="menu">
				          <li><a href="#">Album 1</a></li>
				          <li><a href="#">Album 2</a></li>
				          <li><a href="#">Album 3</a></li>
				          <li><a href="#">Album 4</a></li>
				        </ul>
				      </div><!-- /btn-group -->
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
				   <div class="col-lg-4 col-lg-offset-4">
				    <div class="input-group">
				      <input type="text" class="form-control" placeholder="Add New Location">
				      <div class="input-group-btn">
				        <button type="button" class="btn btn-default	 dropdown-toggle" data-toggle="dropdown">Existing Locations <span class="caret"></span></button>
				        <ul class="dropdown-menu dropdown-menu-right" role="menu">
				          <li><a href="#">Location 1</a></li>
				          <li><a href="#">Location 2</a></li>
				          <li><a href="#">Location 3</a></li>
				          <li><a href="#">Location 4</a></li>
				        </ul>
				      </div><!-- /btn-group -->
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
				   <div class="col-lg-4 col-lg-offset-4">
				    <div class="input-group">
				      <input type="text" class="form-control"  placeholder="Add New Tag">
				      <div class="input-group-btn">
				        <button type="button" class="btn btn-default	 dropdown-toggle" data-toggle="dropdown">Existing Tags <span class="caret"></span></button>
				        <ul class="dropdown-menu dropdown-menu-right" role="menu">
				          <li><a href="#">Tag 1</a></li>
				          <li><a href="#">Tag 2</a></li>
				          <li><a href="#">Tag 3</a></li>
				          <li><a href="#">Tag 4</a></li>
				        </ul>
				      </div><!-- /btn-group -->
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
			<div class="col-lg-4 col-lg-offset-4">
				<button class="btn btn-sm btn-success" type="submit">Add to all Photos</button>	
			</div>
			</form>
			
			<div class="row">
				<!-- Three columns of text below the carousel -->
				<div class="container" id="thumb_img1">
				</div>
				<div id="save_button"></div>
			</div>

			<p id="demo"></p>
			<script src="/js/holder.js"></script>
			<!-- FOOTER -->
			<footer class="footer_new">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<ul class="list-inline">
							<li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
							</li>
							<li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
							</li>
						</ul>
					</div>
				</div>

				<p class="pull-right back-to-top"><a href="#">Back to top</a></p>
				<p>&copy; 2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
				</footer>

<script>
function myFunction(){
    var x = document.getElementById("myFile");
    var txt = "";
    var temp = '';
    var total_size = 0;
    if ('files' in myFile) {
        if (x.files.length == 0) {
            txt = "Select one or more files.";
        } else {
        	var num_files = x.files.length;
            for (var i = 0; i < x.files.length; i++) {
            	txt = "";
                //txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                var file = x.files[i];
                if ('name' in file) {
                    txt += "" + file.name + "<br>";
                }
                if ('size' in file) {
                    //txt += "Size: " + file.size/1000000 + " Mbytes <br>";
                    txt += "Size: " + Math.ceil((file.size/1000000) * 100)/100 + " Mbytes <br>";
                }
				//var reader  = new FileReader();
				 // reader.onchange = function () {
				 //   preview.src = reader.result;
				 // }
			 	//reader.readAsDataURL(file);
			 	//var file_src = reader.result;
            //document.getElementById("demo").innerHTML = txt;
            temp += "<div class='col-lg-4'><img class='img-rounded' src='/images/"+file.name+"' height='140px' alt='"+file.name+"'><h4 style='color:black;'>"+txt+"</h4><h5 class='form-signin-heading padding_bottom'>Update Photo Details</h5><input type='text' id='picCaption' name='caption' class='form-control padding_bottom' placeholder='Caption' value="+file.name+" autofocus><input type='text' id='picLocation' name='location' class='form-control padding_bottom' placeholder='Location' autofocus><textarea type='textarea' id='picDescription' name='description' class='form-control padding_bottom' placeholder='Description'></textarea></div>";
            total_size = total_size + file.size;
            }
            total_size = Math.ceil((total_size/1000000) * 100)/100;
        }
    } 
    else {
        if (x.value == "") {
            txt += "Select one or more files.";
        } else {
            txt += "The files property is not supported by your browser!";
            txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
        }
    }
    document.getElementById("thumb_img1").innerHTML = temp;
    document.getElementById("num_photos").innerHTML = "Uploaded 0/"+num_files+" Photos, Total Size = "+total_size+"Mbytes";
    //document.getElementById("save_button").innerHTML ="<button class='btn btn-sm btn-success' id='saveDetails'>Save Details</button>";
    //document.getElementById("saveDetails").onclick = function(){appendFunction(x.files.length);};
}
</script>
	
<script>
/*function appendFunction(len){
	var captions = [];
	var descriptions = [];
	var locations = [];
	for (var i = 0; i<len; i++) {
		captions.push(document.getElementById("picCaption{{i}}").value);
		locations.push(document.getElementById("picLocation{{i}}").value);
		descriptions.push(document.getElementById("picDescription{{i}}").value);
	}
	document.getElementById("myCaption").value = captions;
	document.getElementById("myLocation").value = locations;
	document.getElementById("myDescription").value = descriptions;
}*/
</script>

<script>
/*window.onload = function(){  
    //Check File API support

	//<label for="files">Select multiple files: </label>
	//<input id="files" type="file" multiple/>
	//<output id="result" />
    if(window.File && window.FileList && window.FileReader)
    {
        var filesInput = document.getElementById("files");
        filesInput.addEventListener("change", function(event){
            var files = event.target.files; //FileList object
            var output = document.getElementById("result");
            var num_files = files.length;
            var txt = "";
            for(var i = 0; i< files.length; i++)
            {
            	txt = "";
                var file = files[i];
                if ('name' in files[i]) {
                    txt += "" + files[i].name + "<br>";
                }
                if ('size' in files[i]) {
                    //txt += "Size: " + file.size/1000000 + " Mbytes <br>";
                    txt += "Size: " + Math.ceil((files[i].size/1000000) * 100)/100 + " Mbytes <br>";
                }
                //Only pics
                if(!file.type.match('image'))
                  continue;
                var picReader = new FileReader();
                picReader.addEventListener("load",function(event){
	                var picFile = event.target;
                    var div = document.createElement("div");
                    div.innerHTML = "<div class='col-lg-4'><img class='img-rounded' src='" + picFile.result + "' height='140px' alt='"+picFile.name+"'><h4 style='color:black;'>"+txt+"</h4><h5 class='form-signin-heading padding_bottom'>Update Photo Details</h5><input type='text' name='email' class='form-control padding_bottom' placeholder='Caption' value="+file.name+" autofocus><input type='text' name='email' class='form-control padding_bottom' placeholder='Location' value='' autofocus><textarea type='textarea' name='password' class='form-control padding_bottom' placeholder='Description'></textarea><button class='btn btn-sm btn-success' type='submit'>Done</button></div>";
                    output.insertBefore(div,null);            
                });
                 //Read the image
                picReader.readAsDataURL(file);
            }    
            document.getElementById("num_photos").innerHTML = "Uploaded 0/"+txt+" Photos";                           
        });
    }
    else
    {
        console.log("Your browser does not support File API");
    }
}*/
</script>

{%endblock%}
{%block javascript%}
{%endblock%}