{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%block title%}
{{user.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/camera_lenses.css" rel="stylesheet">

{%endblock%}

{%block carousel%}
{%endblock%}

{%block signup_links%}  
{%endblock%}

{%block pageContent%}
    <!-- Full Page Image Header Area -->
    <div id="top" class="header" style="background: url(/images/Artists_2.jpg) no-repeat center center fixed;background-size: cover;">
    
        <div class="transbox_right">
            <ul class="list-inline">
                {%if user.website%}
                  <a href="{{user.website}}"><img src="/images/WPC_app_icon.jpg" alt="Profile Image" width="60px"><br><br><br><a>
                {%else%}
                  <img src="/images/WPC_app_icon.jpg" alt="Profile Image" width="60px"><br><br><br>
                {% endif %}
                {%if user.facebook%}
                  <li color="white"><a href="{{user.facebook}}"><i class="fa fa-facebook fa-3x" style="color:white;"></i></a></li><br><br>
                {% endif %}
                {%if user.twitter%}
                  <li color="white"><a href="{{user.twitter}}"><i class="fa fa-twitter fa-3x" style="color:white;"></i></a></li><br><br>
                {% endif %}
                {%if user.youtube%}
                  <li color="white"><a href="{{user.youtube}}"><i class="fa fa-youtube fa-3x" style="color:white;"></i></a></li><br><br>
                {% endif %}
                {%if user.pinterest%}
                  <li color="white"><a href="{{user.pinterest}}"><i class="fa fa-pinterest fa-3x" style="color:white;"></i></a></li><br><br>
                {% endif %}
                {%if user.google_plus%}
                  <li color="white"><a href="{{user.google_plus}}"><i class="fa fa-google-plus fa-3x" style="color:white;"></i></a></li>
                {% endif %}
            </ul>
			{%if me%}
            <a href="/usersettings#social_profiles"><span class="glyphicon glyphicon-cog"></span></a>
			{% endif %}
        </div>
        <div class="vert-text">
            <img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="90px"><br>
            <a href="/usersettings#portfolio"><span class="glyphicon glyphicon-cog"></span></a>
            <h3 style="margin-top:0px;"><em>Welcome!</em> {{user.name}}</h3>
            <a href="#map_canvas"><img src="/fonts/Flags/{{user.country}}.png" alt="country" width="40px"></a><br>
			{%if me%}
				<a href="/usersettings#user_settings"><span class="glyphicon glyphicon-cog"></span></a>
			{% endif %}
            <br>  
            <a href="https://www.facebook.com"><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:white;"></i></a>
            <h2><em>{{user.wpc_score}}</em></h2>
			 {%if user.wpc_score<=5000%}
				<button type="submit" class="btn btn-danger">Beginner Photographer</button><br>
			{%elif user.wpc_score>5000 or user.wpc_score<=10000%}
				<button type="submit" class="btn btn-danger">Amateur Photographer</button><br>
			{%elif user.wpc_score>10000 or user.wpc_score<=20000%}
				<button type="submit" class="btn btn-danger">Semi-Pro Photographer</button><br>
			{%elif user.wpc_score>20000 or user.wpc_score<=25000%}
				<button type="submit" class="btn btn-danger">Professional Photographer</button><br>
			{%elif user.wpc_score>25000%}
				<button type="submit" class="btn btn-danger">Master Photographer</button><br>
			{% endif %}
			{%if me != user%}
				<br><button type="submit" class="btn btn-xs btn-info"><span style="color:white;" class="glyphicon glyphicon-pushpin"></span> Follow</button><br>
			{% endif %}
            <div class="camera">
                <img src="/fonts/Cameras/Nikon D80.png" alt="camera" width="80px"><h4 style="color:white;">Nikon D80<h4>
				{%if me%}
                <a href="/usersettings#my_gear"><span class="glyphicon glyphicon-cog"></span></a>
				{% endif %}
            </div>
            <div class="col-xs-4 col-xs-offset-5 lenses_center">
                <div class="col-xs-2"><img src="/fonts/Lenses/Nikkor 18-55mm.png" alt="camera" width="60px"><h6 style="color:white;">Nikkor 18-55mm<h5></div>
                <div class="col-xs-2"><img src="/fonts/Lenses/AF-S-VR-Zoom-NIKKOR-55-200mm-f-4-5.6G.png" alt="camera" width="60px"><h6 style="color:white;">Nikkor 55-200mm<h6></div>
                <div class="col-xs-2"><img src="/fonts/Lenses/af-nikkor-50mm-f-1-80_front.png" alt="camera" width="60px"><h6 style="color:white;">Nikkor 50mm 1.8d<h6></div>
          </div>
        </div>
        <div class="transbox_left">
            <h1>{{user.awards}}<h1><h2>awards</h2>
            <h1>{{user.profile_shares}}<h1><h2>shares</h2>
            <h1>{{user.followers}}<h1><h2>followers</h2>
            <h1>{{user.following}}<h1><h2>following</h2>
            <h1>{{user.profile_views}}<h1><h2>profile views</h2>
            <a href="/{{user.key.id()}}/photos"><h1>{{photos.count()}}<h1><h2>photos</h2></a>
        </div>

    </div>
    <!-- /Full Page Image Header Area -->

        <!-- Call to Action -->
    <div id= "my_portfolios" class="call-to-action">
        <div class="container">
            <div class="row">
				<div class="col-md-3 text-center">
					<a href="/{{user.key.id()}}/user_blogs"><h3>My Blogs</h3></a>
				</div>
				<div class="col-md-3 text-center">
					<h3>My Questions</h3>
				</div>
				<div class="col-md-3 text-center">
					<a href="/{{user.key.id()}}/user_groups"><h3>My Groups</h3></a>
				</div>
                <div class="col-md-3 text-center">
                    <a data-toggle="modal" data-target=".my_portfolios"><h3>My Portfolios</h3></a>
                </div>
            </div>
        </div>
    </div>
	<br>
    <!-- /Call to Action -->

	<div class="modal fade my_portfolios" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">My Portfolios</h4>
          </div>
			<div class="col-md-3">
			  <a href=""><h4>All Photos</h4>	
			  <img src="http://localhost:8080/servephoto/dO70iCYthqnzzeuJcQVpdw==" alt="Profile Image" class="img-rounded" width="140px"></a><br>
				<div class="button-container post-action padding_top">
					<form method="post">
						<input type="hidden" name="actionType" value="delete">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="share">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-share fa-1x"></i></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="download">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-download fa-1x"></i></button>
					</form>
				</div>
			</div>
			<div class="col-md-3">
			  <a href=""><h4>All Photos</h4>	
			  <img src="http://localhost:8080/servephoto/dO70iCYthqnzzeuJcQVpdw==" alt="Profile Image" class="img-rounded" width="140px"></a><br>
				<div class="button-container post-action padding_top">
					<form method="post">
						<input type="hidden" name="actionType" value="delete">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="share">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-share fa-1x"></i></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="download">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-download fa-1x"></i></button>
					</form>
				</div>
			</div>
			<div class="col-md-3">
			  <a href=""><h4>All Photos</h4>	
			  <img src="http://localhost:8080/servephoto/dO70iCYthqnzzeuJcQVpdw==" alt="Profile Image" class="img-rounded" width="140px"></a><br>
				<div class="button-container post-action padding_top">
					<form method="post">
						<input type="hidden" name="actionType" value="delete">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="share">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-share fa-1x"></i></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="download">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-download fa-1x"></i></button>
					</form>
				</div>
			</div>
			<div class="col-md-3">
			  <a href=""><h4>All Photos</h4>	
			  <img src="http://localhost:8080/servephoto/dO70iCYthqnzzeuJcQVpdw==" alt="Profile Image" class="img-rounded" width="140px"></a><br>
				<div class="button-container post-action padding_top">
					<form method="post">
						<input type="hidden" name="actionType" value="delete">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="share">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-share fa-1x"></i></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="download">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-download fa-1x"></i></button>
					</form>
				</div>
			</div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
	
    <!-- Callout -->
    <div class="callout" style="background: url(/images/into_the_storm.jpg) no-repeat center center fixed;background-size: cover;">
        <div class="vert-text">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h3>Photography Interests</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-plane"></i>
                        <h4>Travel</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-bug"></i>
                        <h4>WildLife Photography</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-female"></i>
                        <h4>Fashion Photography</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-music"></i>
                        <h4>Music</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-book"></i>
                        <h4>Documentary</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-road"></i>
                        <h4>Street</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Callout -->

    <br>
    <!-- Portfolio -->
    <div id="my_photos" class="portfolio main1">
        <nav class="navbar" role="navigation">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/{{user.key.id()}}/photos" style="font-family:verdana;color:Blue;font-size:30px;"> My Photos<br><h6>Open in seperate window</h6></a>

              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search Photos <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li>
                          <form class="navbar-form navbar-left" role="search" action="photos.html">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Find Photos">
                            </div>
                          </form>                        
                        </li>
                      </ul>
                   </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Most Viewed</a></li>
                        <li><a href="#">Most Liked</a></li>
                        <li><a href="#">Most Commented</a></li>
                        <li><a href="#">Most Shared</a></li>
                        <li><a href="#">Most Pinned</a></li>
                        <li><a href="#">Tags</a></li>
                      </ul>
                    </li>
                  </ul>   
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
      <div class="thumb_imgs">
            {%for p in photos%}
                    <a onclick="change_main_image('/servephoto/{{p.blobKey}}', '/photo/{{p.key.urlsafe()}}');" href="javascript:void(0);"><img src="/servephoto/{{p.blobKey}}" height="100px" alt="photo"></a>
            {%endfor%}
      </div>
      <br>      
        <div id="main_img" class="main_img">
            {%for p in photos%}
                {% if loop.index <= 1 %}
                    <a href="/photo/{{p.key.urlsafe()}}"><img alt="" src="/servephoto/{{p.blobKey}}" class="img_display"/></a>
                 {% endif %}
            {%endfor%}
        </div>
    </div>
    <!-- /Portfolio -->
    <br>



        <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2></h2>
                    <p class="lead">Place for Ads <br><a target="_blank" href="http://www.worldphotographersclub.com/">worldphotographersclub</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Map -->
	<iframe
	  width="100%"
	  height="300"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA98__FHcA4bnhiXVRNPHswC6VNnVfiKnc&q={{user.city}}+{{user.country}}">
	</iframe>
    <!-- /Map -->
    {%block footer%}
    {%endblock%}
			<!-- FOOTER -->
			
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<ul class="list-inline">
							<li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
							</li>
							<li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
							</li>
						</ul>
					</div>
				</div>
			{%block backtotop%}
				<p class="pull-right back-to-top"><a href="#">Back to top</a></p>
				<p>&copy; 2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
			{%endblock%}			
{%endblock%}

{%block javaScripts%}
<!-- JavaScript -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var myLatlng = new google.maps.LatLng(28.600822, 77.314625);
        var map_options = {
          center: myLatlng,
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
	$("#menu-close").click(function(e) {
		e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
	});
</script>
<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
	});
</script>
<script>
	$(function() {
		$('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
					$('html,body').animate({
						scrollTop: target.offset().top
					}, 1000);
					return false;
				}
			}
		});
	});
</script>
<script type='text/javascript' src='http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js'></script>
    <script>
      jQuery(document).ready(function() {
        var offset = 220;
        var duration = 1500;
        jQuery(window).scroll(function() {
          if (jQuery(this).scrollTop() > offset) {
            jQuery('.back-to-top').fadeIn(duration);
          } else {
            jQuery('.back-to-top').fadeOut(duration);
          }
        });
        jQuery('.back-to-top').click(function(event) {
          event.preventDefault();
          jQuery('html, body').animate({scrollTop: 0}, duration);
          return false;
        })
      });
    </script>
<script type="text/javascript">
function change_main_image(img_key, img_link) {
    //document.getElementById("main_img").innerHTML = "<img alt='' src='"+img_key+"' class='img_display'/>";
	document.getElementById("main_img").innerHTML = "<a href='"+img_link+"'><img alt='' src='"+img_key+"' class='img_display'/></a>";
} 
</script>
{%endblock%}