{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%set user = me%}

{%block title%}
{{me.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/camera_lenses.css" rel="stylesheet">

{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}
    <!-- Full Page Image Header Area -->
    <div id="top" class="header" style="background: url(/images/img_3.jpg) no-repeat center center fixed;background-size: cover;">
    
        <div class="transbox_right">
            <ul class="list-inline">
                {%if me.website%}
                  <a href="{{me.website}}"><img src="/images/WPC_app_icon.jpg" alt="Profile Image" width="60px"><br><br><br><a>
                {%else%}
                  <img src="/images/WPC_app_icon.jpg" alt="Profile Image" width="60px"><br><br><br>
                {% endif %}
                {%if me.facebook%}
                  <li color="white"><a href="{{me.facebook}}"><i class="fa fa-facebook fa-3x" style="color:white;"></i></a></li><br><br>
                {% endif %}
                {%if me.twitter%}
                  <li color="white"><a href="{{me.twitter}}"><i class="fa fa-twitter fa-3x" style="color:white;"></i></a></li><br><br>
                {% endif %}
                {%if me.youtube%}
                  <li color="white"><a href="{{me.youtube}}"><i class="fa fa-youtube fa-3x" style="color:white;"></i></a></li><br><br>
                {% endif %}
                {%if me.pinterest%}
                  <li color="white"><a href="{{me.pinterest}}"><i class="fa fa-pinterest fa-3x" style="color:white;"></i></a></li><br><br>
                {% endif %}
                {%if me.google_plus%}
                  <li color="white"><a href="{{me.google_plus}}"><i class="fa fa-google-plus fa-3x" style="color:white;"></i></a></li>
                {% endif %}
            </ul>
            <a href="/usersettings#social_profiles"><span class="glyphicon glyphicon-cog"></span></a>
        </div>
        <div class="vert-text">
            <img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="90px">
            <a href="/usersettings#portfolio"><span class="glyphicon glyphicon-cog"></span></a>
            <h3><em>Welcome!</em> {{me.name}}</h3>
            <a href="#contact"><img src="/fonts/Flags/{{me.country}}.png" alt="country" width="40px"></a>
            <a href="/usersettings#user_settings"><span class="glyphicon glyphicon-cog"></span></a>
            <br>  
            <a href="https://www.facebook.com"><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:white;"></i></a>
            <h2><em>123456</em></h2>
            <button type="submit" class="btn btn-danger">Master Photographer</button><br>
            <div class="camera">
                <img src="/fonts/Cameras/Nikon_D80.png" alt="camera" width="80px"><h4 style="color:white;">Nikon D80<h4>
                <a href="/usersettings#my_gear"><span class="glyphicon glyphicon-cog"></span></a>
            </div>
            <div class="col-xs-4 col-xs-offset-5 lenses_center">
                <div class="col-xs-2"><img src="/fonts/Lenses/Nikkor 18-55.png" alt="camera" width="60px"><h6 style="color:white;">Nikkor 18-55mm<h5></div>
                <div class="col-xs-2"><img src="/fonts/Lenses/AF-S-VR-Zoom-NIKKOR-55-200mm-f-4-5.6G.png" alt="camera" width="60px"><h6 style="color:white;">Nikkor 55-200mm<h6></div>
                <div class="col-xs-2"><img src="/fonts/Lenses/af-nikkor-50mm-f-1-80_front.png" alt="camera" width="60px"><h6 style="color:white;">Nikkor 50mm 1.8d<h6></div>
          </div>
        </div>
        <div class="transbox_left">
            <h1>1038<h1><h2>likes</h2>
            <h1>138<h1><h2>comments</h2>
            <h1>10<h1><h2>awards</h2>
            <h1>23<h1><h2>shares</h2>
            <h1>343<h1><h2>followers</h2>
            <h1>242<h1><h2>following</h2>
            <h1>4533<h1><h2>profile views</h2>
            <a href="/{{me.key.id()}}/photos"><h1>453<h1><h2>photos</h2></a>
        </div>

    </div>
    <!-- /Full Page Image Header Area -->

        <!-- Call to Action -->
    <div id= "my_portfolios" class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>My Portfolios</h3>
                    <a href="#" class="btn btn-lg btn-success">All Photos</a>
                    <a href="#" class="btn btn-lg btn-success">Travel Photography</a>
                    <a href="#" class="btn btn-lg btn-success">Potraits</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->

    <!-- Callout -->
    <div class="callout" style="background: url(/images/img_7.jpg) no-repeat center center fixed;background-size: cover;">
        <div class="vert-text">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h3>Photography Interests</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-plane"></i>
                        <h4>Travel</h4>
                    </div>
                </div>
                <div class="col-xs-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-bug"></i>
                        <h4>WildLife Photography</h4>
                    </div>
                </div>
                <div class="col-xs-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-female"></i>
                        <h4>Fashion Photography</h4>
                    </div>
                </div>
                <div class="col-xs-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-music"></i>
                        <h4>Music</h4>
                    </div>
                </div>
                <div class="col-xs-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-book"></i>
                        <h4>Documentary</h4>
                    </div>
                </div>
                <div class="col-xs-2 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-road"></i>
                        <h4>Street</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Callout -->

    <br><br>
    <!-- Portfolio -->
    <div id="my_photos" class="portfolio main1">
        <nav class="navbar" role="navigation">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/{{me.key.id()}}/photos" style="font-family:verdana;color:Blue;font-size:30px;"> My Photos<br><h6>Open in seperate window</h6></a>

              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search Photos <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li>
                          <form class="navbar-form navbar-left" role="search" action="photos.html">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Find Photos">
                            </div>
                          </form>                        
                        </li>
                      </ul>
                   </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Most Viewed</a></li>
                        <li><a href="#">Most Liked</a></li>
                        <li><a href="#">Most Commented</a></li>
                        <li><a href="#">Most Shared</a></li>
                        <li><a href="#">Most Pinned</a></li>
                        <li><a href="#">Tags</a></li>
                      </ul>
                    </li>
                  </ul>   
                  <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">                    
                      <li>My Albums</li><br>
                      <button type="submit" class="btn btn-warning btn-xs">New York</button>
                      <button type="submit" class="btn btn-warning btn-xs">Brooklyn Bridge</button>
                      <button type="submit" class="btn btn-warning btn-xs">Fashion</button>
                      <button type="submit" class="btn btn-warning btn-xs">Delhi</button>
                      <button type="submit" class="btn btn-warning btn-xs">India Gate</button>
                  </ul>       
                  <ul class="nav navbar-nav navbar-right"  style="margin-right:20px;">                    
                      <li>My Tags</li><br>
                      <button type="submit" class="btn btn-danger btn-xs">New York</button>
                      <button type="submit" class="btn btn-danger btn-xs">Brooklyn Bridge</button>
                      <button type="submit" class="btn btn-danger btn-xs">Fashion</button>
                      <button type="submit" class="btn btn-danger btn-xs">Delhi</button>                
                  </ul>
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
      <div class="thumb_imgs">
            {%for p in photos%}
                    <a onclick="change_main_image('/servephoto/{{p.blobKey}}');" href="javascript:void(0);"><img src="/servephoto/{{p.blobKey}}" height="100px" alt="photo"></a>
            {%endfor%}
      </div>
      <br>      
        <div id="main_img" class="main_img">
            {%for p in photos%}
                {% if loop.index <= 1 %}
                    <img alt="" src="/servephoto/{{p.blobKey}}" height="600px"/>
                 {% endif %}
            {%endfor%}
        </div>
    </div>
    <!-- /Portfolio -->
    <br>



        <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2></h2>
                    <p class="lead">Place for Ads <br><a target="_blank" href="http://www.worldphotographersclub.com/">worldphotographersclub</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Map -->
    <div id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </div>
    <!-- /Map -->
    {%block footer%}
    {%endblock%}
			<!-- FOOTER -->
			
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<ul class="list-inline">
							<li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
							</li>
							<li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
							</li>
						</ul>
					</div>
				</div>
			{%block backtotop%}
				<p class="pull-right back-to-top"><a href="#">Back to top</a></p>
				<p>&copy; 2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
			{%endblock%}			
{%endblock%}

{%block javaScripts%}
<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>
<!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
<script>
	$("#menu-close").click(function(e) {
		e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
	});
</script>
<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
	});
</script>
<script>
	$(function() {
		$('a[href*=#]:not([href=#])').click(function() {
			if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
					$('html,body').animate({
						scrollTop: target.offset().top
					}, 1000);
					return false;
				}
			}
		});
	});
</script>
<script type='text/javascript' src='http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js'></script>
    <script>
      jQuery(document).ready(function() {
        var offset = 220;
        var duration = 1500;
        jQuery(window).scroll(function() {
          if (jQuery(this).scrollTop() > offset) {
            jQuery('.back-to-top').fadeIn(duration);
          } else {
            jQuery('.back-to-top').fadeOut(duration);
          }
        });
        jQuery('.back-to-top').click(function(event) {
          event.preventDefault();
          jQuery('html, body').animate({scrollTop: 0}, duration);
          return false;
        })
      });
    </script>
<script type="text/javascript">
function change_main_image(img_key) {
    document.getElementById("main_img").innerHTML = "<img alt='' src='"+img_key+"' height='600px'/>";
} 
</script>
{%endblock%}