{%if me%}
    {%extends "index_user.html"%}
{%else%}
    {%extends "index.html"%}
{%endif%}

{%set user = me%}

{%block title%}
{{me.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/usersettings.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link rel="stylesheet" href="/css/user_settings.css">
{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#analytics">Analytics</a></li>
            <li><a href="#export">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="#user_settings">User Settings</a></li>
            <li><a href="#portfolio">Portfolio Settings</a></li>
            <li><a href="#my_gear">My Gear</a></li>
            <li><a href="#sharing">Sharing and Permissions</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Overview</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Photos</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/100x100/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Blogs</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Forum Questions</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/100x100/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Articles</h4>
            </div>
          </div>
        </div>
        <hr>
        <div id="analytics" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Analytics</h1>
        </div>
        <hr>
        <hr>
        <div id="export" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Export</h1>
        </div>
        <div id="user_settings" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">User Settings</h1>
            <form class="form-signin col-sm-4" role="form" method="post">
                <p>User Name </p><input type="text" name="name" class="form-control" placeholder="{{me.name}}" value="{{me.name}}"><br>
                <button class="btn btn-xs btn-success" type="submit">Save Name</button>
                <hr>
                <p>Primary Email ID </p><h5 style="color:black;">{{me.email}}</h5><br>
                <p>Alternate Email ID </p><input type="text" name="alt_email" class="form-control" placeholder="{{me.alt_email}}"><br>
                <button class="btn btn-xs btn-success" type="submit">Add Email</button>
                <hr>
                <p>Update Passowrd</p>
                <input type="password" name="password" class="form-control" placeholder="Password">
                <input type="password" name="verifyPassword" class="form-control" placeholder="Re-enter Password">
                <br>
                <div class="error" style="color:red;">{{signupError}}</div>
                <button class="btn btn-xs btn-success" type="submit">Save Password</button>
                <hr>
                <p>Edit Country</p>
                   <select name="country">
                      <option value="">Select Country...</option>
                      <option value="Afganistan">Afghanistan</option>
                      <option value="Albania">Albania</option>
                      <option value="Algeria">Algeria</option>
                      <option value="American Samoa">American Samoa</option>
                      <option value="Andorra">Andorra</option>
                      <option value="Angola">Angola</option>
                      <option value="Anguilla">Anguilla</option>
                      <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Armenia">Armenia</option>
                      <option value="Aruba">Aruba</option>
                      <option value="Australia">Australia</option>
                      <option value="Austria">Austria</option>
                      <option value="Azerbaijan">Azerbaijan</option>
                      <option value="Bahamas">Bahamas</option>
                      <option value="Bahrain">Bahrain</option>
                      <option value="Bangladesh">Bangladesh</option>
                      <option value="Barbados">Barbados</option>
                      <option value="Belarus">Belarus</option>
                      <option value="Belgium">Belgium</option>
                      <option value="Belize">Belize</option>
                      <option value="Benin">Benin</option>
                      <option value="Bermuda">Bermuda</option>
                      <option value="Bhutan">Bhutan</option>
                      <option value="Bolivia">Bolivia</option>
                      <option value="Bonaire">Bonaire</option>
                      <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                      <option value="Botswana">Botswana</option>
                      <option value="Brazil">Brazil</option>
                      <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                      <option value="Brunei">Brunei</option>
                      <option value="Bulgaria">Bulgaria</option>
                      <option value="Burkina Faso">Burkina Faso</option>
                      <option value="Burundi">Burundi</option>
                      <option value="Cambodia">Cambodia</option>
                      <option value="Cameroon">Cameroon</option>
                      <option value="Canada">Canada</option>
                      <option value="Canary Islands">Canary Islands</option>
                      <option value="Cape Verde">Cape Verde</option>
                      <option value="Cayman Islands">Cayman Islands</option>
                      <option value="Central African Republic">Central African Republic</option>
                      <option value="Chad">Chad</option>
                      <option value="Channel Islands">Channel Islands</option>
                      <option value="Chile">Chile</option>
                      <option value="China">China</option>
                      <option value="Christmas Island">Christmas Island</option>
                      <option value="Cocos Island">Cocos Island</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Comoros">Comoros</option>
                      <option value="Congo">Congo</option>
                      <option value="Cook Islands">Cook Islands</option>
                      <option value="Costa Rica">Costa Rica</option>
                      <option value="Cote DIvoire">Cote D'Ivoire</option>
                      <option value="Croatia">Croatia</option>
                      <option value="Cuba">Cuba</option>
                      <option value="Curaco">Curacao</option>
                      <option value="Cyprus">Cyprus</option>
                      <option value="Czech Republic">Czech Republic</option>
                      <option value="Denmark">Denmark</option>
                      <option value="Djibouti">Djibouti</option>
                      <option value="Dominica">Dominica</option>
                      <option value="Dominican Republic">Dominican Republic</option>
                      <option value="East Timor">East Timor</option>
                      <option value="Ecuador">Ecuador</option>
                      <option value="Egypt">Egypt</option>
                      <option value="El Salvador">El Salvador</option>
                      <option value="Equatorial Guinea">Equatorial Guinea</option>
                      <option value="Eritrea">Eritrea</option>
                      <option value="Estonia">Estonia</option>
                      <option value="Ethiopia">Ethiopia</option>
                      <option value="Falkland Islands">Falkland Islands</option>
                      <option value="Faroe Islands">Faroe Islands</option>
                      <option value="Fiji">Fiji</option>
                      <option value="Finland">Finland</option>
                      <option value="France">France</option>
                      <option value="French Guiana">French Guiana</option>
                      <option value="French Polynesia">French Polynesia</option>
                      <option value="French Southern Ter">French Southern Ter</option>
                      <option value="Gabon">Gabon</option>
                      <option value="Gambia">Gambia</option>
                      <option value="Georgia">Georgia</option>
                      <option value="Germany">Germany</option>
                      <option value="Ghana">Ghana</option>
                      <option value="Gibraltar">Gibraltar</option>
                      <option value="Great Britain">Great Britain</option>
                      <option value="Greece">Greece</option>
                      <option value="Greenland">Greenland</option>
                      <option value="Grenada">Grenada</option>
                      <option value="Guadeloupe">Guadeloupe</option>
                      <option value="Guam">Guam</option>
                      <option value="Guatemala">Guatemala</option>
                      <option value="Guinea">Guinea</option>
                      <option value="Guyana">Guyana</option>
                      <option value="Haiti">Haiti</option>
                      <option value="Hawaii">Hawaii</option>
                      <option value="Honduras">Honduras</option>
                      <option value="Hong Kong">Hong Kong</option>
                      <option value="Hungary">Hungary</option>
                      <option value="Iceland">Iceland</option>
                      <option value="India">India</option>
                      <option value="Indonesia">Indonesia</option>
                      <option value="Iran">Iran</option>
                      <option value="Iraq">Iraq</option>
                      <option value="Ireland">Ireland</option>
                      <option value="Isle of Man">Isle of Man</option>
                      <option value="Israel">Israel</option>
                      <option value="Italy">Italy</option>
                      <option value="Jamaica">Jamaica</option>
                      <option value="Japan">Japan</option>
                      <option value="Jordan">Jordan</option>
                      <option value="Kazakhstan">Kazakhstan</option>
                      <option value="Kenya">Kenya</option>
                      <option value="Kiribati">Kiribati</option>
                      <option value="Korea North">Korea North</option>
                      <option value="Korea Sout">Korea South</option>
                      <option value="Kuwait">Kuwait</option>
                      <option value="Kyrgyzstan">Kyrgyzstan</option>
                      <option value="Laos">Laos</option>
                      <option value="Latvia">Latvia</option>
                      <option value="Lebanon">Lebanon</option>
                      <option value="Lesotho">Lesotho</option>
                      <option value="Liberia">Liberia</option>
                      <option value="Libya">Libya</option>
                      <option value="Liechtenstein">Liechtenstein</option>
                      <option value="Lithuania">Lithuania</option>
                      <option value="Luxembourg">Luxembourg</option>
                      <option value="Macau">Macau</option>
                      <option value="Macedonia">Macedonia</option>
                      <option value="Madagascar">Madagascar</option>
                      <option value="Malaysia">Malaysia</option>
                      <option value="Malawi">Malawi</option>
                      <option value="Maldives">Maldives</option>
                      <option value="Mali">Mali</option>
                      <option value="Malta">Malta</option>
                      <option value="Marshall Islands">Marshall Islands</option>
                      <option value="Martinique">Martinique</option>
                      <option value="Mauritania">Mauritania</option>
                      <option value="Mauritius">Mauritius</option>
                      <option value="Mayotte">Mayotte</option>
                      <option value="Mexico">Mexico</option>
                      <option value="Midway Islands">Midway Islands</option>
                      <option value="Moldova">Moldova</option>
                      <option value="Monaco">Monaco</option>
                      <option value="Mongolia">Mongolia</option>
                      <option value="Montserrat">Montserrat</option>
                      <option value="Morocco">Morocco</option>
                      <option value="Mozambique">Mozambique</option>
                      <option value="Myanmar">Myanmar</option>
                      <option value="Nambia">Nambia</option>
                      <option value="Nauru">Nauru</option>
                      <option value="Nepal">Nepal</option>
                      <option value="Netherland Antilles">Netherland Antilles</option>
                      <option value="Netherlands">Netherlands (Holland, Europe)</option>
                      <option value="Nevis">Nevis</option>
                      <option value="New Caledonia">New Caledonia</option>
                      <option value="New Zealand">New Zealand</option>
                      <option value="Nicaragua">Nicaragua</option>
                      <option value="Niger">Niger</option>
                      <option value="Nigeria">Nigeria</option>
                      <option value="Niue">Niue</option>
                      <option value="Norfolk Island">Norfolk Island</option>
                      <option value="Norway">Norway</option>
                      <option value="Oman">Oman</option>
                      <option value="Pakistan">Pakistan</option>
                      <option value="Palau Island">Palau Island</option>
                      <option value="Palestine">Palestine</option>
                      <option value="Panama">Panama</option>
                      <option value="Papua New Guinea">Papua New Guinea</option>
                      <option value="Paraguay">Paraguay</option>
                      <option value="Peru">Peru</option>
                      <option value="Phillipines">Philippines</option>
                      <option value="Pitcairn Island">Pitcairn Island</option>
                      <option value="Poland">Poland</option>
                      <option value="Portugal">Portugal</option>
                      <option value="Puerto Rico">Puerto Rico</option>
                      <option value="Qatar">Qatar</option>
                      <option value="Republic of Montenegro">Republic of Montenegro</option>
                      <option value="Republic of Serbia">Republic of Serbia</option>
                      <option value="Reunion">Reunion</option>
                      <option value="Romania">Romania</option>
                      <option value="Russia">Russia</option>
                      <option value="Rwanda">Rwanda</option>
                      <option value="St_Barthelemy">St Barthelemy</option>
                      <option value="St_Eustatius">St Eustatius</option>
                      <option value="St_Helena">St Helena</option>
                      <option value="St_Kitts-Nevis">St Kitts-Nevis</option>
                      <option value="St_Lucia">St Lucia</option>
                      <option value="St_Maarten">St Maarten</option>
                      <option value="St_Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                      <option value="St_Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                      <option value="Saipan">Saipan</option>
                      <option value="Samoa">Samoa</option>
                      <option value="Samoa_American">Samoa American</option>
                      <option value="San_Marino">San Marino</option>
                      <option value="Sao_Tome &amp; Principe">Sao Tome &amp; Principe</option>
                      <option value="Saudi_Arabia">Saudi Arabia</option>
                      <option value="Senegal">Senegal</option>
                      <option value="Serbia">Serbia</option>
                      <option value="Seychelles">Seychelles</option>
                      <option value="Sierra Leone">Sierra Leone</option>
                      <option value="Singapore">Singapore</option>
                      <option value="Slovakia">Slovakia</option>
                      <option value="Slovenia">Slovenia</option>
                      <option value="Solomon_Islands">Solomon Islands</option>
                      <option value="Somalia">Somalia</option>
                      <option value="South_Africa">South Africa</option>
                      <option value="Spain">Spain</option>
                      <option value="Sri Lanka">Sri Lanka</option>
                      <option value="Sudan">Sudan</option>
                      <option value="Suriname">Suriname</option>
                      <option value="Swaziland">Swaziland</option>
                      <option value="Sweden">Sweden</option>
                      <option value="Switzerland">Switzerland</option>
                      <option value="Syria">Syria</option>
                      <option value="Tahiti">Tahiti</option>
                      <option value="Taiwan">Taiwan</option>
                      <option value="Tajikistan">Tajikistan</option>
                      <option value="Tanzania">Tanzania</option>
                      <option value="Thailand">Thailand</option>
                      <option value="Togo">Togo</option>
                      <option value="Tokelau">Tokelau</option>
                      <option value="Tonga">Tonga</option>
                      <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                      <option value="Tunisia">Tunisia</option>
                      <option value="Turkey">Turkey</option>
                      <option value="Turkmenistan">Turkmenistan</option>
                      <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                      <option value="Tuvalu">Tuvalu</option>
                      <option value="Uganda">Uganda</option>
                      <option value="Ukraine">Ukraine</option>
                      <option value="United_Arab_Erimates">United Arab Emirates</option>
                      <option value="United_Kingdom">United Kingdom</option>
                      <option value="United_States_of_America">United States of America</option>
                      <option value="Uraguay">Uruguay</option>
                      <option value="Uzbekistan">Uzbekistan</option>
                      <option value="Vanuatu">Vanuatu</option>
                      <option value="Vatican_City">Vatican City State</option>
                      <option value="Venezuela">Venezuela</option>
                      <option value="Vietnam">Vietnam</option>
                      <option value="UK_Virgin_Islands">Virgin Islands (Brit)</option>
                      <option value="US_Virgin_Islands">Virgin Islands (USA)</option>
                      <option value="Wake_Island">Wake Island</option>
                      <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                      <option value="Yemen">Yemen</option>
                      <option value="Zaire">Zaire</option>
                      <option value="Zambia">Zambia</option>
                      <option value="Zimbabwe">Zimbabwe</option>
                      </select><br><br>
                <button class="btn btn-xs btn-success" type="submit">Add Location</button>
            </form>
        </div>
        <hr>
        <div id="portfolio" class="col-sm-9 col-sm-offset-4 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Portfolio Settings</h1>
              
              <form onsubmit="validate()" id="photoupload" class ="col-sm-4" action="{{uploadUrl}}" method="post" enctype="multipart/form-data">
                <p>Select Profile Image</p>
                <div class="column fileupload-buttonbar">
                    <span class="btn btn-xs btn-info fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span>Select Image</span>
                      <input type="file" id="myFile" name="files" onchange="myFunction()">
                    </span>
                </div>
                <div class="container row" id="thumb_img"></div>
                <hr>
                <p>Select Background Image 1</p>
                <div class="column fileupload-buttonbar">
                    <span class="btn btn-xs btn-info fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span>Select Image</span>
                      <input type="file" id="myFile1" name="files" onchange="myFunction1()">
                    </span>
                     <div class="container row" id="thumb_img1"></div>
                </div><hr>
                <p>Select Background Image 2</p>
                <div class="column fileupload-buttonbar">
                    <span class="btn btn-xs btn-info fileinput-button">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span>Select Image</span>
                      <input type="file" id="myFile2" name="files" onchange="myFunction2()">
                    </span>
                     <div class="container row" id="thumb_img2"></div>
                </div><hr>
                <p>Photography Interests</p>
                   <select name="country" size="10" style="width: 130px;" multiple>
                      <option value="Fashion">Action/Sports</option>
                      <option value="Advertising">Advertising</option>
                      <option value="Aerial">Aerial</option>
                      <option value="Architectural">Architectural</option>
                      <option value="Astronomical">Astronomical</option>
                      <option value="Music">Concert/Music</option>
                      <option value="Event">Event</option>
                      <option value="Family">Family</option>
                      <option value="Fashion">Fashion</option>
                      <option value="Food">Food</option>
                      <option value="Landscape">Landscape</option>
                      <option value="Macro">Macro/Micro</option>
                      <option value="Medical">Medical</option>
                      <option value="Nude">Nude/Erotic</option>
                      <option value="Paparazzi">Paparazzi</option>
                      <option value="Photojournalism">Photojournalism</option>
                      <option value="Scientific">Scientific</option>
                      <option value="Street">Street</option>
                      <option value="Travel">Travel</option>
                      <option value="Underwater">Underwater</option>
                      <option value="Vehicles">Vehicles</option>
                      <option value="Weddings">Weddings</option>
                      <option value="Wildlife">Wildlife</option>
                    </select><br>
                    <p style="color:gray;">You can select upto 6</p>
                <hr>
                <button class="btn btn-xs btn-success" type="submit">Upload Profile</button>
              </form>
        </div>
        <hr>
        <div id="my_gear" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">My Gear</h1>
            <form class="form-signin col-sm-4" role="form" method="post">
              <p>Select Your Camera</p>
              <p>Select Lense 1</p>
              <p>Select Lense 2</p>
              <p>Select Lense 3</p>
              <button class="btn btn-xs btn-success" type="submit">Add My Gear Info</button>
            </form>
        </div>
        <hr>
        <div id="sharing" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Sharing and Permissions</h1>
        </div>
      </div>
    </div>

    {%block footer%}
    {%endblock%}
      <!-- FOOTER -->
      <div class="footer" style="padding-bottom:0;">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
              </li>
              <li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
              </li>
              <li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
              </li>
              <li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
              </li>
            </ul>
          </div>
        </div>
      {%block backtotop%}
        <p class="pull-right back-to-top"><a href="#">Back to top</a></p>
        <p style="padding-left:500px;">&copy;2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
      {%endblock%}  
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <script type="text/javascript">
      function validate()
        {
            var selectChoose = document.getElementById('choose');
            var maxOptions = 2;
            var optionCount = 0;
            for (var i = 0; i < selectChoose.length; i++) {
                if (selectChoose[i].selected) {
                    optionCount++;
                    if (optionCount > maxOptions) {
                        alert("validation failed, not submitting")
                        return false;
                    }
                }
            }
            return true;
        }
        </script>

        <script>
        function myFunction(){
            var x = document.getElementById("myFile");
            var txt = "";
            var temp = '';
            var total_size = 0;
            if ('files' in myFile) {
                if (x.files.length == 0) {
                    txt = "Select one or more files.";
                } else {
                  var num_files = x.files.length;
                    for (var i = 0; i < x.files.length; i++) {
                      txt = "";
                        //txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                        var file = x.files[i];
                        if ('name' in file) {
                            txt += "" + file.name + "<br>";
                        }
                        if ('size' in file) {
                            //txt += "Size: " + file.size/1000000 + " Mbytes <br>";
                            txt += "Size: " + Math.ceil((file.size/1000000) * 100)/100 + " Mbytes <br>";
                        }
                    //document.getElementById("demo").innerHTML = txt;
                    temp += "<br><div class='col-lg-4'><img class='img-circle' src='/images/"+file.name+"' height='100px' alt='"+file.name+"'><h4 style='color:black;'>"+txt+"</h4></div>";
                    total_size = total_size + file.size;
                    }
                    total_size = Math.ceil((total_size/1000000) * 100)/100;
                }
            } 
            else {
                if (x.value == "") {
                    txt += "Select one or more files.";
                } else {
                    txt += "The files property is not supported by your browser!";
                    txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
                }
            }
            document.getElementById("thumb_img").innerHTML = temp;
            document.getElementById("num_photos").innerHTML = "Uploaded 0/"+num_files+" Photos, Total Size = "+total_size+"Mbytes";
        }
        </script>
        <script>
        function myFunction1(){
            var x = document.getElementById("myFile1");
            var txt = "";
            var temp1 = '';
            var total_size = 0;
            if ('files' in myFile1) {
                if (x.files.length == 0) {
                    txt = "Select one or more files.";
                } else {
                  var num_files = x.files.length;
                    for (var i = 0; i < x.files.length; i++) {
                      txt = "";
                        //txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                        var file = x.files[i];
                        if ('name' in file) {
                            txt += "" + file.name + "<br>";
                        }
                        if ('size' in file) {
                            //txt += "Size: " + file.size/1000000 + " Mbytes <br>";
                            txt += "Size: " + Math.ceil((file.size/1000000) * 100)/100 + " Mbytes <br>";
                        }
                    //document.getElementById("demo").innerHTML = txt;
                    temp1 += "<br><div class='col-lg-4'><img class='img-rounded' src='/images/"+file.name+"' height='100px' alt='"+file.name+"'><h4 style='color:black;'>"+txt+"</h4></div>";
                    total_size = total_size + file.size;
                    }
                    total_size = Math.ceil((total_size/1000000) * 100)/100;
                }
            } 
            else {
                if (x.value == "") {
                    txt += "Select one or more files.";
                } else {
                    txt += "The files property is not supported by your browser!";
                    txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
                }
            }
            document.getElementById("thumb_img1").innerHTML = temp1;
            document.getElementById("num_photos").innerHTML = "Uploaded 0/"+num_files+" Photos, Total Size = "+total_size+"Mbytes";
        }
        </script>
        <script>
        function myFunction2(){
            var x = document.getElementById("myFile2");
            var txt = "";
            var temp2 = '';
            var total_size = 0;
            if ('files' in myFile2) {
                if (x.files.length == 0) {
                    txt = "Select one or more files.";
                } else {
                  var num_files = x.files.length;
                    for (var i = 0; i < x.files.length; i++) {
                      txt = "";
                        //txt += "<br><strong>" + (i+1) + ". file</strong><br>";
                        var file = x.files[i];
                        if ('name' in file) {
                            txt += "" + file.name + "<br>";
                        }
                        if ('size' in file) {
                            //txt += "Size: " + file.size/1000000 + " Mbytes <br>";
                            txt += "Size: " + Math.ceil((file.size/1000000) * 100)/100 + " Mbytes <br>";
                        }
                    //document.getElementById("demo").innerHTML = txt;
                    temp2 += "<br><div class='col-lg-4'><img class='img-rounded' src='/images/"+file.name+"' height='100px' alt='"+file.name+"'><h4 style='color:black;'>"+txt+"</h4></div>";
                    total_size = total_size + file.size;
                    }
                    total_size = Math.ceil((total_size/1000000) * 100)/100;
                }
            } 
            else {
                if (x.value == "") {
                    txt += "Select one or more files.";
                } else {
                    txt += "The files property is not supported by your browser!";
                    txt  += "<br>The path of the selected file: " + x.value; // If the browser does not support the files property, it will return the path of the selected file instead. 
                }
            }
            document.getElementById("thumb_img2").innerHTML = temp2;
            document.getElementById("num_photos").innerHTML = "Uploaded 0/"+num_files+" Photos, Total Size = "+total_size+"Mbytes";
        }
        </script>
{%endblock%}