{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%set user = me%}

{%block title%}
{{me.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">

{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}
<h1> {{me.name}}<em> Blogs</em>  {%if not me%}<a href="/signin"><button class="btn btn-xs btn-danger" type="button"><i class="fa fa-register" style="color:white;"></i>  Register with WPC</button></a>{%endif%}</h1>
<hr>
  	<div class="col-md-12" id="blogs_section">
	    <div id="myblogs">
      {%if me%}
	  {%for b in blogs%}
	  <div class="col-md-4 col-sm-6">
        
        
		  <a href="/blog/{{b.key.urlsafe()}}"><h3>{{b.title}}</h3>	
		  <img src="{{b.cover_photo}}" alt="Profile Image" class="img-rounded" width="300px">
		  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5></a>
          <div style="width: 400px; height:100px; overflow: hidden;"><p>{{b.content | safe }}</p></div>
		  
		  <hr class="horizontal-line">
        
       
		</div>
		 {% endfor %}
      {%endif%}
    </div>
{%endblock%}